![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Business Analytics

## 4 July 2021

## Lists

## Lists

   - Lists are ordered sequence of mixed data types
   - Lists are written in comma separated elements within square brackets

In [1]:
list1 = ["India", 5, "Delhi"]

In [2]:
list1

['India', 5, 'Delhi']

In [3]:
print(len(list1))
print(type(list1))

3
<class 'list'>

In [4]:
#Nested list

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

In [5]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [6]:
list2[-1][1]

'Chennai'

In [7]:
#Indexing

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

list2[0]

'India'

In [8]:
#Slicing

list2[-1]

['Rajkot', 'Chennai']

In [9]:
list2 = ["India", "Delhi", 5, 10, ("Rajkot", "Chennai")]

In [10]:
list2[4][0]

'Rajkot'

In [11]:
#List Concat
list1 = [1,2,3,4]
list2 = [5,6,7,8]

new_list = list1 + list2

In [12]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
#Add two elements to an existing list
list3 = [1,2,3,4]
         
#list4 = [5,6]
new_list = list3 +  [5,6]
new_list

[1, 2, 3, 4, 5, 6]

In [15]:
#Membership in lists

list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

#### Mutability

In [16]:
list1 = ["Maths", "Physics", "Chemistry", "Biology"]

In [17]:
list1[3] = 'Computer Science'

In [18]:
list1

['Maths', 'Physics', 'Chemistry', 'Computer Science']

In [19]:
#extend() function

list1 = [1,2,3,4]
list1.extend([5,6])
list1

[1, 2, 3, 4, 5, 6]

In [20]:
list1 = [1,2,3,4]
list1.append([5,6])
list1

[1, 2, 3, 4, [5, 6]]

In [21]:
#append() function

list1 = [1,2,3,4]
list1.append([5,6])

In [22]:
#del command

list1 = [1,2,3,4]

del list1[2]
list1

[1, 2, 4]

In [23]:
#pop() - Deletes the last object from the list

list1 = [11,22,33,44]

list1.pop(1)
list1

[11, 33, 44]

In [24]:
list1 = [11,22,33,44]

list1.remove(22)
list1

[11, 33, 44]

In [25]:
#pop() - By default, it deletes the last object from the list
#pop takes index as an input

list1 = [1,2,3,4]

list1.pop(2)
list1

[1, 2, 4]

In [26]:
#remove() - takes value as an input

list1 = [1,2,3,4]

list1.remove(3)

In [27]:
#Sorting 
A = [9,5,2]
A.sort()
A

[2, 5, 9]

In [28]:
A.sort(reverse=True)
A

[9, 5, 2]

#### Difference between sort & sorted

In [29]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Oranges', 'Strawberry']
None

In [30]:
class Sum(object):
	def my_method(self):
		print("Hello World")
op = Sum()
op.my_method()

Hello World

In [31]:
my_method()

NameError: name 'my_method' is not defined

In [32]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

In [33]:
p1 = MyClass()

In [34]:
print(p1.x)

5

In [35]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Oranges', 'Strawberry']
None

In [36]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

#### shallow copy

In [37]:
A = ["Oranges", "Strawberry", "Mango"]
B = A
print(B)

['Oranges', 'Strawberry', 'Mango']

In [38]:
A.pop()

'Mango'

In [39]:
A

['Oranges', 'Strawberry']

In [40]:
B

['Oranges', 'Strawberry']

In [41]:
A = ["Oranges", "Strawberry", "Mango"]
B = A[:]
print(B)

['Oranges', 'Strawberry', 'Mango']

In [42]:
A.pop()

'Mango'

In [43]:
A

['Oranges', 'Strawberry']

In [44]:
B

['Oranges', 'Strawberry', 'Mango']

## Questions

#### Description
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.


Sample Input:
('Monty Python', 'British', 1969)

Sample Output:
('Monty Python', 'British', 1969, 'Python')

In [45]:
tuple_new = ('Monty Python', 'British', 1969)
a = 'Python'
#Tuple Concatenation
tuple_new2 = tuple_new + (a,)

In [46]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [47]:
type(tuple_new2)

tuple

In [48]:
tuple_new = ('Monty Python', 'British', 1969)
list_new = list(tuple_new)
list_new.append('Python')
tuple_new2 = tuple(list_new)

In [49]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [50]:
type(tuple_new2)

tuple

#### Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003

In [52]:
input_str = 'Kumar_Ravi_003'
list1 = input_str.split('_')

In [53]:
list1

['Kumar', 'Ravi', '003']

In [54]:
print(list1[1])
print(list1[0])
print(list1[2])

Ravi
Kumar
003

### Questions

#### Question 1: A List and a Tuple Together?
#### Question 2: Indexing from the End
- Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?

#### Question 3: I Lost Everything!
- word = ['1','2','3','4']
- word[ : ] = [ ] 
- print(word)

#### Sorted List
- Consider the following list:
- L = ['one','two','three', 'four', 'five', 'six']
- print(sorted(L))
- print (L)

#### Question

#### Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [55]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

#### Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [56]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

#### How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]